#listado{
    margin: 0;
    padding: 0;
    justify-content: center;
    height: auto;
    
}

.contenedor{
    margin: 5%;
    padding: 0;
    align-items: center;
    justify-content: center;
}

.titulo{
    width: 100%;
    font-size: 25px;
    margin: 10px 0 ;
    text-align: center;
}

.galeria{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-auto-rows: 1fr;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.peliculas{
    margin: 0;
    padding: 5px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 0.75fr repeat(2, 60px);
    align-items: center;
    font-size: 20px;
    color: #ececff;
}

.image{
    
    width: 100%;
}
.boton1{
    background: none;
    font-size: 15px;
    color: #ececff;
    padding: 0.75rem 1.2rem;
    border: 1px solid aqua;
    border-radius: 0.4rem;
    
}


.boton1:hover{
    background: #fff;
    color: #1f1f38 !important;
    border-color: transparent;
    
}

.pagina{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 30px 0;
    padding: 5px 0;
}

.pagina button{
    font-size: 15px;
    margin: 0 10px;
    background: none;
    color: #ececff;
    border: 1px solid aqua;
    border-radius: 0.4rem;
    padding: 0.75rem 1.2rem;
}

.pagina button:hover{
    background: #fff;
    color: #1f1f38 !important;
    border-color: transparent;
    cursor: pointer;
}
.pagina p{
    font-size: 25px;
    margin: 5px 20px 0 20px;
    color: #ececff;
}